
<div class="ventana2">
    <h1>mapa culiao</h1>
    
    <div class="Mapa1" id="map"> </div>  
</div>


<div class="ventana"> 

<h1 class="form_titulo">Generar oferta de trabajo</h1> 
<section>


<form action="">

<label for="TituloTrabajo">Titulo del Trabajo</label>
<input type="text" name="TituloTrabajo" id="TituloTrabajo"> 

<label for="DetailTrabajo">Detalles del trabajo</label>
<input type="text" name="DetailTrabajo" id="DetailTrabajo">

<label>Tipo de trabajo</label>
<br>
<select name="TipoTrabajo" id="TipoTrabajo">

<option value="Full-Time"></option>
<option value="Part-Time"></option>
<option value="Practica"></option>
<option value="Temporal"></option>
<option value="Fines de semana"></option>
<option value="Por horas"></option>

</select>
<label></label>



</form>

</section>


</div>