
<div class="ventana2" id="map">
    <google-map width="570" height="550"></google-map>
</div>

<div class="ventana"> 

<h1 class="form_titulo">Generar oferta de trabajo</h1> 


<div class="formu">
<form ngNativeValidate #SendPublic = "ngForm" (ngSubmit)="SendP(SendPublic.value)">

    <label for="TituloTrabajo">Titulo del Trabajo</label>
    <input ngModel required type="text" name="titulotrabajo" id="titulotrabajo" > 

    <label for="DetailTrabajo">Detalles del trabajo</label>
    <input ngModel required type="text" name="detallesTrabajo" id="detallesTrabajo" >

    <label>Tipo de trabajo</label>

    <select ngModel required name="tipoTrabajo" id="tipoTrabajo">
        <option value="Seleccione un tipo" disabled selected="">Seleccione un tipo</option>
        <option value="Full-Time">Full-time</option>
        <option value="Part-Time">Part-time</option>
        <option value="Temporal">Temporal</option>
        <option value="Fines de semana">Fines de semana</option>
        <option value="Por horas">Por horas</option>
        <option value="Practica">Practica</option>
    </select>

    <label>Modalidad del trabajo</label>

    <select ngModel required name="modalidadtrabajo" id="modalidadtrabajo">
        <option value="Seleccione Modalidad de trabajo" disabled selected="">Seleccione un tipo</option>
        <option value="presencial">Presencial</option>
        <option value="remoto">Remoto</option>
        <option value="hibrido">hibrido</option>

    </select>

    <label for="vacantes">Vacantes disponibles</label>
    <input ngModel required type="number" name="vacantes" id="vacantes" min="0">

    <label>Monto CLP</label>

    <label for="monto">$</label>
    <input ngModel required type="number" name="monto" id="monto" min="0" value="5000">

    <input type="submit" value="GENERAR OFERTA" class="btn-enviar">
</form>
</div>




</div>

