 .ventana{
    background-color:#981914;
    width: 48%;
    height: 80%;
    min-height: 30%;
    border-radius: 22px;
    position: relative;
    z-index: 1;
    left: 2%;
    top: 5%;
    overflow-y: hidden;

}

.ventana2{
    background-color:#981914;
    width: 40%;
    height: 72%;
    color: rgb(255, 255, 255,1);
    font-family: Arial, Helvetica, sans-serif;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 53%;
    top: 15%;
    
    

    }

.formu{
    margin-top: 0%;
    padding: 40%;
    top: -33%;
    position: absolute;
    text-align: center;
    left: -5%;
    
    } 

    .formu_label{
        text-align: center;  
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        text-decoration: underline solid 1px;
        margin-left: 20px;
        
    }

    .form_titulo{
        text-align: center;
        font-weight: 700;
        color: white;
        font-size: 40px;
        text-decoration: underline solid white;
    }

    .formu_input ,.formu_select{
        margin-top: 5%;
        margin-bottom: 8%;
        padding-top: 5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .btn-enviar{
        margin-top: 10px;
        padding: 3% 0% 3% 0%;
        font-size: 15px;
    }

    .btn-enviar:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        cursor: pointer;

    }

    #limpiar{
        border-radius: 10px;
    }
