<h2>Registro de usuario</h2>
<img src="register/pb-logo.png" class="avatar" alt="Platinum-Bridge-Logo" width="300" height="300">
<div class="register-box">
<form [formGroup] = "formReg" (ngSubmit) = "onSubmit()">
    <div>
        <label class="form-label">Email: </label>
        <input type="text" placeholder="Ingrese correo electronico" class="registro" formControlName="email">
    </div>
    <div>
        <label class="form-label">Password: </label>
        <input type="password" placeholder="Contraseña" class="password" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form>
</div>