body{
    background: linear-gradient(#404040, #191919);
    background-size: cover;
    color: aliceblue;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.imagenes {
    background: url(https://static.vecteezy.com/system/resources/previews/006/349/391/non_2x/wallpaper-background-gradient-with-red-burgundy-color-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 3px solid white;
}

.perfil {
    border: 7px solid white;
    margin-top: 0.5cm;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
.datosnom{
    margin-top: 0.5cm;
    color: black;
    margin-left: 30%;
    background: linear-gradient(#ffffff, #a9a9ae);
    margin-right: 30%;
    border: 3px solid white;
    text-align: center;  
    font-size: 15px;
    border-radius: 10px;
  }
.cajadatos {
    margin-top: 0.5cm;
    color: black;
    background: linear-gradient(#ffffff, #a9a9ae);
    margin-left: 34%;
    margin-right: 34%;
    border: 3px solid white;
    border-radius: 10px;
    text-align:center;
}

.barra{
 margin-top: 0.5cm;

}
.actualizador{
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      padding: 10px 20px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
.actualizadorBtn {
    background-color: white; 
      color: black; 
      border: 2px solid #CC0202;
}
.actualizadorBtn:hover {
    background-color: #CC0202;
    color: white;
}
