<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <Platinum-Bridge>Profile</Platinum-Bridge>
    </title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="https://th.bing.com/th/id/R.1578294831d702d93d8118ecb4bdd8a9?rik=rmgC3Rt%2b%2fQLRhQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f_KjT5zzt6H9Q%2fTM8iz0fn2AI%2fAAAAAAAAApI%2fz2aylfjXywY%2fs400%2fLucario_by_MidnightCambion.jpg&ehk=qfiiQIvtf5%2b6fVGmLwZRgfT8EBqpdghFbKMeoIVEOFo%3d&risl=&pid=ImgRaw&r=0" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>
            <button type="button" class="boton-portada">
                <i class="far fa-image"></i> Cambiar fondo
            </button>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{UserData.Nombre +" "+ UserData.Apellidos}}</h3>
            <p class="texto">{{UserData.Descripcion}}</p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-signs"></i> <strong>Direccion: </strong> <input type="text" class="dir inp" value="{{UserData.Direccion}}"></li>
                <li><i class="icono fas fa-mobile-alt"></i> <strong>Telefono: <input type="hidden">+56 <input type="number" class="telefono" value={{UserData.Telefono}}></strong></li>
                <li><i class="icono fas fa-briefcase"></i> <strong>Trabaja en: </strong><input type="text" class="trabaja-en inp" value="{{UserData.Trabaja}}"></li>
                <li><i class="icono fas fa-building"></i> <strong>Cargo: </strong> <input type="text" class="cargo inp" value="{{UserData.Cargo}}"></li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i> <strong>Nacionalidad: </strong> <input type="text" class="ubicacion inp" value="{{UserData.Nacionalidad}}"></li>
                <li><i class="icono fas fa-calendar-alt"></i> <strong>Fecha nacimiento: </strong> <input type="date" class="fn inp" value="{{UserData.F_Nacimiento}}"></li>
                <li><i class="icono fas fa-user-check"></i><strong> Preferencia de Empleo: </strong> <span class="under_line">Formal </span>  <input type="checkbox" class="checkbox inp"> • <span class="under_line">Informal </span> <input type="checkbox" class="checkbox"></li>
                <li><i class="icono fas fa-solid fa-envelope"></i> <strong>Correo: </strong> <input type="email" class=" email inp" value="{{UserData.Correo}}" ></li>
            </ul>
        </div>
    </div>
</section>

</html>