<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel ="stylesheet" href="profile.component.css">
</head>
<body>
    <div id="contenedor">
        <div id="menu">
            <div id="perfil">Perfil</div></div>
            <div id="evaluacion">Evaluacion</div>
            <div id="historial">Historial</div>
        <div id="cuerpo">
            
            <div id="perfil">
                <div id="foto">
                    <img src="https://static.wikia.nocookie.net/espokemon/images/d/d0/Lucario.png" alt="Foto de perfil">
                </div>
                </div>
                <div id="datos">
                    <h1>Nombre: Nombre Apellido</h1>
                    <h2>Correo: platinum@bridge.com</h2>
                    <h3>Telefono: +56(9)66677788</h3>
                </div>
        </div>
        <div id="pie">PIE</div>
    </div>
</body>
</html>