<div class="wrapper">
    
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/89236644?v=4" alt="Team_image">
        </div>
        <h3>Camilo</h3>
        <p class="role">Scrum Master</p>
        <p>            Email: camilo.hernandez2020@alu.uct.cl
            Git User: ChamiloHM08


        </p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/43767491?v=4" alt="Team_image">
        </div>
        <h3>Marcelo</h3>
        <p class="role">Frontend Developer</p>
        <p>            Email: marcelo.morales2018@gmail.com
            Git User: marcelocleaver

        </p></div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/74796860?v=4" alt="Team_image">
        </div>
        <h3>Daniel</h3>
        <p class="role">Backend Developer</p>
        <p></p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/54116048?v=4" alt="Team_image">
        </div>
        <h3>Barbara</h3>
        <p class="role">API Developer</p>
        <p></p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/104949986?v=4" alt="Team_image">
        </div>
        <h3>Matias</h3>
        <p class="role">API Developer</p>
        <p></p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/74797315?v=4" alt="Team_image">
        </div>
        <h3>Benjamin</h3>
        <p class="role">Backend Developer</p>
        <p></p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/23508903?v=4" alt="Team_image">
        </div>
        <h3>Ignacio Lincolao</h3>
        <p class="role">BIG BOSS</p>
        <p></p>
      </div>
    </div>
  </div>
