<head>
  <title>Contacto - Platinum Bridge</title>
</head>
<div class="wrapper">

  <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/89236644?v=4" alt="Team_image">
        </div>
        <h3>Camilo</h3>
        <p class="role">Scrum Master</p>
        <p>Email: camilo.hernandez2020@alu.uct.cl<br>
           Git User: ChamiloHM08
        </p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/43767491?v=4" alt="Team_image">
        </div>
        <h3>Marcelo</h3>
        <p class="role">Frontend Developer</p>
        <p>Email: marcelo.morales2018@alu.uct.cl<br>
           Git User: marceloCleaver
        </p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/74796860?v=4" alt="Team_image">
        </div>
        <h3>Daniel</h3>
        <p class="role">Backend Developer</p>
        <p>Email: daraya2020@alu.uct.cl<br>
           Git User: Daikoo0
        </p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/54116048?v=4" alt="Team_image">
        </div>
        <h3>Bárbara</h3>
        <p class="role">API Developer</p>
        <p>Email: barbara.neira2015@alu.uct.cl<br>
           Git User: Souleynu
        </p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/104949986?v=4" alt="Team_image">
        </div>
        <h3>Matías</h3>
        <p class="role">API Developer</p>
        <p>Email: mjancidakis2020@alu.uct.cl<br>
           Git User: MatiasScythe
        </p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/74797315?v=4" alt="Team_image">
        </div>
        <h3>Benjamín</h3>
        <p class="role">Backend Developer</p>
        <p>Email: bmeier2020@alu.uct.cl<br>
           Git User: B3nja2020
        </p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="https://avatars.githubusercontent.com/u/23508903?v=4" alt="Team_image">
        </div>
        <h3>Ignacio Lincolao</h3>
        <p class="role">BIG BOSS</p>
        <p>Email: ilincolao@uct.cl<br>
           Git User: xxxxx
        </p>
      </div>
  </div>

</div>