html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1 LAYOUT */
  body { text-align: center; font:300 20px/1.7 'Roboto Condensed';}

  .header { display: flex; justify-content: center; align-items: center; }


  .list-services {display: flex; align-items: center; justify-content: center;}
  .list-services figure { display: flex; justify-content: center; align-items: center; flex-flow: column;}
/* 2 GENERIC ITEMS */

  .header { height: 450px; background: url(https://images.contentstack.io/v3/assets/bltffa13a9594951d47/blt80c7d9f21db03e31/5f07541a12ab7c7614986eb6/iStock-959971292_copy.jpg?auto=webp&format=pjpg&quality=80&width=900&height=500&fit=crop) no-repeat center top; background-size:cover;}
  .title {margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform: uppercase;}
  p {margin-bottom: 40px;}

  .btn { border: 2px solid #fff; padding: 10px 40px; display: inline-block; text-decoration: none; color: #fff;}

/* 3 PARTS OF WEB */
  .content { padding: 80px 0;}

    .who {background: #981914; color: #fff; background-image: linear-gradient(10deg, #191919, #981914);}
      .who p { max-width: 1055px; margin: 0 auto;}
    .services {background: #191919;color: #fff;}
    .tarifas {background: #404040; color: #fff;}


/* 3 LIST  */

  .list-services figure { position: relative; width: 150px; height: 190px;}
  .list-services figure:after {content: ""; position: absolute; top: 0; left: 0; border-radius: 50%; z-index: 0; background: #fff; width: 150px; height: 150px;}
    .list-services img {position: relative; z-index: 1;}
  .list-services li { padding: 0 30px; }
  .list-services figcaption { position: relative; left: 0; right: 0; bottom: -40px;}
