<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Fazt | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <!-- HEADER -->
    <header class="header">
   <h1>Te guiamos hacia una oportunidad </h1>
    </header>

    <section class="content who">
      <h2 class="title">¿Qué ofrecemos?</h2>
      <p>En Platinum Bridge ofrecemos la posibilidad de realizar u ofrecer Trabajos informales y formales, contamos con 
        diferentes medidas de seguridad para asegurarle una experiencia satisfactoria.</p>
     
      <a href="/register" class="btn">Registrate</a>
      <a href="/login" class="inicio">Inicia sesión</a>
    </section>

    <section class="content services">
      <h2 class="title">Servicios</h2>
      <p>Los servicios de Platinum Bridge cuentan con adaptación a diferentes plataformas.</p>
      <ul class="list-services">
        <li>
          <figure>
            <img src="https://www.pngkit.com/png/full/72-722167_hand-holding-phone-hand-holding-phone-png.png" style="width: 70%" >
            <figcaption>Movil</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="https://static.vecteezy.com/system/resources/previews/004/489/503/non_2x/online-work-concepts-vector.jpg" style="width: 69%">
            <figcaption>Escritorio</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/ico3.png" alt="">
            <figcaption>Vuejs</figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <section class="content tarifas">
      <article class="contain">
        <h2 class="title">¿Cómo funciona?</h2>
        <p>explicacion de como funciona el proyecto</p>
        <p>En caso de dudas contactarse con el equipo de desarrollo</p>
        <a href="/contacto" class="btn">Contactanos</a>
      </article>
    </section>



  </body>
</html>