<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Fazt | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <!-- HEADER -->
    <header class="header">
 
    </header>

    <section class="content who">
      <h2 class="title">¿Qué ofrecemos?</h2>
      <p>En Platinum Bridge ofrecemos la posibilidad de realizar u ofrecer Trabajos informales</p>
    </section>

    <section class="content services">
      <h2 class="title">Servicios</h2>
      <p>Los servicios utilizados hasta ahora para el funcinamiento son</p>
      <ul class="list-services">
        <li>
          <figure>
            <img src="https://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png" style="width: 60%" >
            <figcaption>Angular</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="https://assets.stickpng.com/images/5847f40ecef1014c0b5e488a.png" style="width: 55%">
            <figcaption>FireBase</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/ico3.png" alt="">
            <figcaption>Vuejs</figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <section class="content tarifas">
      <article class="contain">
        <h2 class="title">¿Cómo funciona?</h2>
        <p>explicacion de como funciona el proyecto</p>
        <p>En caso de dudas contactarse con el equipo de desarrollo</p>
        <a href="/contacto" class="btn">Contactanos</a>
      </article>
    </section>



  </body>
</html>