<head>
  <title>Bienvenido - Platinum Bridge</title>
</head>
  <body>
    <!-- HEADER -->
    <header class="header">
   <h1>Te guiamos hacia una oportunidad</h1>
    </header>

    <section class="content who">
      <h2 class="title">¿Qué ofrecemos?</h2>
      <p>En Platinum Bridge ofrecemos la posibilidad de realizar u ofrecer trabajos informales y formales, contamos con 
        diferentes medidas de seguridad para asegurarle una experiencia satisfactoria.</p>
     
      <a href="/register" class="btn">Regístrate</a>
      <a href="/login" class="inicio">Inicia sesión</a>
    </section>

    <section class="content services">
      <h2 class="title">Servicios</h2>
      <p>Los servicios de Platinum Bridge cuentan con adaptación a diferentes plataformas.</p>
      <ul class="list-services">
        <li>
          <figure>
            <img src="https://www.pngkit.com/png/full/72-722167_hand-holding-phone-hand-holding-phone-png.png" style="width: 70%" >
            <figcaption>Móvil</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="https://static.vecteezy.com/system/resources/previews/004/489/503/non_2x/online-work-concepts-vector.jpg" style="width: 69%">
            <figcaption>Escritorio</figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <section class="content tarifas">
      <article class="contain">
        <h2 class="title">¿Cómo funciona?</h2>
        <p>Explicación de cómo funciona el proyecto</p>
        <p>En caso de dudas, contactarse con el equipo de desarrollo</p>
        <a href="/contacto" class="btn">Contáctanos</a>
      </article>
    </section>



  </body>
<!-- </html> -->