
.General {
    margin:auto;
    margin-top: 50px;
    width: 1850px;
    height: 1000px;
    background-color: white;
  }

.Izquierda {
    width:350px;
    height: 1000px;
    background-color: white;
    float: left;
    text-align: center;
  }
  .Titulo {
    text-align: center;
    background-color: white;
    height: 30px;
    width: 100;

  }

  .Mapa {
    text-align: center;
    background-color: white;
    height: 1000px;
    width: 1500px;
    float: right;

  }
  
  