<head>
  <title>Inicio - Platinum Bridge</title>
</head>
  <div class="ventana">
    <a href="javascript:abrir()"></a>
  </div>
  <header class="Tituloosm">   
    
    <div class="barra">
      
        <h2>Opciones<img src="https://cdn-icons-png.flaticon.com/512/423/423038.png" style="width: 35%"></h2>        
        <ul>
            <li><a>Solicitar trabajo</a></li>
            <li><a href="/generarof">Generar Ofertas de Trabajo</a></li>
            <li><a>Verificar cuenta</a></li>
        </ul>
   
      </div>
    
</header>

<div class="ventana2" id="map">
  <google-map width="570" height="550"></google-map>
</div>



