
.General {
    margin:auto;
    margin-top: 50px;
    width: 1850px;
    height: 1000px;
    
  }

  .Titulo {
    text-align: center;
    
    height: 30px;
    width: 100;

  }

  .Mapa {
    flex:1;
    min-width: 300px;
    float: right;
    width: 1600px;
    height: 1000px;
    
  }

  .Mapa:first-child {
    flex: 2;
    padding: 25px;
    margin: 20px;
    margin-bottom: 0px;
  }

  .Mapa div {
    padding: 25px;
    margin:20px;
  }
  
  .home {
    display: flex;
    flex-wrap: wrap;

  }
  
  @media (max-width: 750px) {
    .Mapa {
        width: 100%;
    }
  }