<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App component</title>
</head>
<body style="overflow-y:hidden">
  <header>
    <!-- <img src="src/app/material/fondo.jpg" alt="logo" /> -->
    <h1>Platinum Bridge</h1>
    <div class="menu">
      <nav>
          <ul>
            <li><a href="profile">Perfil</a></li>
            <li><a href="main">Buscar Ofertas</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><button (click)="onClick()" class="btn btn-outline-danger mt-5">Logout</button></li>
          </ul>
      </nav>
    </div>
  </header>

  <router-outlet></router-outlet>
</body>
</html>
