<h2>Login de usuario</h2>
<div class="login-box">
<form [formGroup] = "formLogin" (ngSubmit) = "onSubmit()">
    <div>
        <label class="form-label">Email: </label>
        <input type="text" placeholder="Ingrese correo electronico" class="login" formControlName="email">
    </div>
    <div>
        <label class="form-label">Password: </label>
        <input type="password" placeholder="Contraseña" class="password" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form>
</div>