* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  
}

.form-login {
  width: 400px;
  height: 380px;
  background: #e8e8e7;
  margin: auto;
  margin-top: 130px;
  padding: 20px 30px;
  border-top: 4px solid #981914;
  color: rgb(0, 0, 0);
  box-shadow: 7px 13px 37px #000;
  border-radius: 15px;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 2px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid #981914;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #e6dcdc;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: #981914;
  border: none;
  color: white;
  margin-bottom: 16px;
}
.buttons:hover {
  width: 100%;
  height: 40px;
  background: #b91817;
  border: none;
  color: white;
  margin-bottom: 16px;
}
.form-login p{
  height: 20px;
  text-align: center;
  border-bottom: 2px solid;
}

.form-login a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}

.fotito {
  margin-bottom: 4%;
  text-align: center;
  margin-left: 43%;
}