* {
    box-sizing: border-box;
  }
  body{
    padding-top: 2cm;
    margin:0;
    font-family: sans-serif;
    background: linear-gradient(#404040, #191919);

  }
  
  h1 {
    color: white;
    text-align: center;
  }
  .form-actu {
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    border-color: #000000;
  }
  
  .form__titulo {
    background: #B31F1F;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: 5px solid crimson;
    border: 20px red;
  }
  
  .contenedor-inputs {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;

  }

  input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 13px;
    border: 1px solid darkgray;
    text-align: center;
    margin: auto;
  }
  
  .input-48 {
    width: 48%;
  }
  .input-48 {
    width: 100%;
  }

  .btn-enviar {
    background: crimson;
    color: #fff;
    margin: auto;
  }

  .wrapper{
    margin-top: 50px;
  }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 400px;
    padding: 20px;
    line-height: 20px;
    color: #000000;  
    position: relative;
    border-radius: 15px;
    
    
  }
  
  .team .team_member h3{
    color: #b91817;
    font-size: 26px;
    margin-top: 50px;
  }
  
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #580B0B;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
  }
  
  
