<body>
    <section class="form-actu">
      <h4>Formulario Actualizar Datos</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
      <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
      <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
      <input class="controls" type="date" name="nombres" id="nombres" placeholder="Fecha de registro">
      <input class="controls" type="date" name="apellidos" id="apellidos" placeholder="Fecha de Nacimiento">
      <input class="controls" type="number" name="correo" id="correo" placeholder="Telefono">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Direccion">
      <input class="botons" type="submit" value="Actualizar">
    </section>
  
  </body>