<body>
  <div class="wrapper">

    <div class="team">
        <div class="team_member">
          <div class="team_img">
            <img src="https://static1.canarias7.es/www/multimedia/201704/14/media/cortadas/462076-1g_CSN462076_MG3928385--624x351.jpg" alt="Team_image">
          </div>
          <h3>Nombre de usuario</h3>
          <form action="" method="post" class="form-actu">
            <h2 class="form__titulo">Formulario de actualizaciones</h2>
            <div class="contenedor-inputs">
            <input class="input-48" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">  
            <input class="input-48" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="input-100" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
            <input class="input-48" type="date" name="nombres" id="nombres" placeholder="Fecha de registro">
            <input class="input-48" type="date" name="apellidos" id="apellidos" placeholder="Fecha de Nacimiento">
            <input class="input-100" type="password" name="correo" id="correo" placeholder="Direccion">
            <input class="input-100" type="number" name="correo" id="correo" placeholder="Telefono">
            <br>
            <input type="submit" value="Actualizar" class="btn-enviar">
          
        </div>
      </form> 

    </div>
  
  </div>
</div>
</body>